.row {
  padding: 0.4rem;
}

.row-dark {
  cursor: pointer;
  &:hover {
    background-color: #3a3a3a;
  }
}

.row-light {
  cursor: pointer;
  &:hover {
    background-color: #f3f4f6;
  }
}

.row-selected-dark {
  background-color: #5a5a5a;
  font-weight: 600;
  &:hover {
    background-color: #5a5a5a;
  }
}

.row-selected-light {
  background-color: #f3f4f6;
  font-weight: 600;
  &:hover {
    background-color: #f3f4f6;
  }
}
