.relative-time-panel-container {
  height: calc(100% - 120px - 36px);
  overflow-y: auto;
}

.time-row {
  cursor: pointer;
}

.time-row-dark {
  &:hover {
    background-color: #3a3a3a;
  }
}

.time-row-light {
  &:hover {
    background-color: #f3f4f6;
  }
}
